header{
  background-color: #b2ebf2;
  padding: 0.75rem 1rem;
}

nav{
  background-color: inherit;
  color: #4a148c;
}

li a, a:hover{
  color: #4a148c !important;
}

.header-wrap{
  border-bottom: solid 8px #4a148c !important;
  margin-bottom: 0px;
}

.bg-cont{
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.social-wrap{
  padding: 0px;
}

.social-icons{
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  border-radius: 0px 8px 8px 0px;
  padding-top: 12px
}

.social-icons:hover{
  width: 60px;
  transition: width .3s;
}

#galeria img{
  border: solid 10px white;
  margin-bottom: 1rem;
}

.blog-wrap{
  padding-top: 20px;
  padding-bottom: 80px;
  background-color: #b2ebf2;
  margin: 0px;

}

.img-post{
  width: 300px;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.card{
  border-top: solid 10px #4a148c;

}

.post-card{
  text-align: center;
  border-top: solid 0px;
  border-radius: 80px 0px 80px 0px;
  padding-bottom: 20px;
}

.autor_img{
  width: 120px;
}

.autor-bio-box{
  padding-top: 30px;
  margin-top: 20px;
  border-top: solid 1px #bdbdbd;
}

.autor-bio{
  font-size: 12px;
}
